.custom-scrollbar {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}

::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--gray);
  border-radius: 5rem;
}

/* Appropriate import for the CSS file if you're using external CSS */
/* import './styles.css'; */

.icon {
  width: 24px;
  height: 24px;
}

.icon::before {
  content: "🌞"; /* Sun icon for light mode */
}

.icon.dark::before {
  content: "🌙"; /* Moon icon for dark mode */
}

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-inline: auto;
  padding-inline: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 9999; /* Ensure it's on top of other content */
}

.loading-spinner {
  border: 8px solid rgba(0, 0, 0, 0.3);
  border-top: 8px solid #3498db; /* Change color as needed */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin-bottom: 20px;
}

.loading-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  padding-inline: auto;
  font-size: 18px;
  color: #555;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
